/*! Copyright © 2009-2014 Postcode Anywhere (Holdings) Ltd. (http://www.postcodeanywhere.co.uk)
 *
 * Address v3.20
 * Styles for the address control.
 *
 * WEB-2-3 17/03/2014 17:04:04
 */
.pca {
  margin: 0;
  padding: 0;
  position: static;
  border: none;
}

.pca .pcatext {
  font: 9pt arial;
  color: #333;
}

.pca .pcalist {
  position: relative;
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fafafa;
}

.pca .pcaitem {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 9px 10px 9px 10px;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  border: solid 1px transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e5e5e5;
}

.pca .pcaselected {
  color: #333;
  background-color: #e5f0ff;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e5e5e5;
}

.pca .pcalastitem {
  border-bottom: none;
}

.pca .pcadisableselect {
  -moz-user-select: none;
  -webkit-user-select: none;
}

.pca .pcaautocomplete {
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-bottom: 0;
  background: 0;
  width: inherit;
  position: absolute;
  z-index: 100000;
}

.pca .pcaanchor {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
}

.pca .pcaanchor .pcachain {
  position: relative;
}

.pca .pcaautocomplete .pcaheader {
  background-color: #ebebeb;
  border-bottom: 1px solid #ccc;
}

.pca .pcaautocomplete .pcamessage {
  padding: 8px 10px;
  color: #777;
  line-height: 18px;
}

.pca .pcaautocomplete .pcalist {
  height: 244px;
  width: auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}

.pca .pcaautocomplete .pcafooter {
  border-top: 1px solid #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  background-color: #fafafa;
  height: 30px;
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
  background: -ms-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #ececec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ececec', GradientType=0);
}

.pca .pcaautocomplete .pcafooter .pcamessage {
  font: bold 9pt arial;
  color: #969696;
  margin: 8px 5px;
  padding: 0;
  position: relative;
  float: right;
}

.pca .pcamodal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100000;
}

.pca .pcamodal .pcalist {
  height: 244px;
  width: auto;
  min-width: 200px;
  min-height: 100px;
}

.pca .pcamodal .pcaborder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  border-radius: 0px;
  opacity: .20;
  filter: alpha(opacity=20);
}

.pca .pcamodal .pcaframe {
  position: relative;
  margin: 12px;
  background-color: #f5f7f9;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #c8cacc;
}

.pca .pcamodal .pcacontent {
  position: relative;
  padding: 15px;
}

.pca .pcamodal .pcacontent .pcainputrow {
  width: 450px;
  text-align: right;
}

.pca .pcamodal .pcacontent .pcainputrow input {
  width: 300px;
  border-width: 1px;
  border-style: solid;
  border-color: #d4d4d4;
  padding: 8px;
  margin: 15px;
  background: #fff;
}

.pca .pcamodal .pcacontent .pcainputrow .pcahalf {
  width: 126px;
}

.pca .pcamodal .pcacontent .pcainputrow label {
  font: bold 14px arial;
  color: #444444;
}

.pca .pcamodal .pcaheader {
  position: relative;
  top: 0;
  left: 0;
  border-top: 1px solid #e1e3e5;
  border-bottom: 1px solid #c8cacc;
  border-radius: 0px 0px 0 0;
  background: #e1e3e5;
  background: -moz-linear-gradient(top, #e1e3e5 0%, #e1e3e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1e3e5), color-stop(100%, #e1e3e5));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e3e5', endColorstr='#e1e3e5', GradientType=0);
}

.pca .pcamodal .pcaheader .pcatitle {
  font: bold 18px arial;
  color: #005db9;
  margin: 15px;
}

.pca .pcamodal .pcafooter {
  position: relative;
  bottom: 0;
  left: 0;
  border-top: 1px solid #c8cacc;
  background: #fff;
}

.pca .pcamodal .pcafooter .pcabutton {
  width: 150px;
  margin: 15px;
}

.pca .pcafullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.pca .pcamask {
  background-color: #000;
  opacity: .40;
  filter: alpha(opacity=40);
  z-index: 100000;
}

.pca .pcabutton {
  font: bold 14px arial;
  color: #444444;
  border: 1px solid #d4d4d4;
  border-radius: 0px;
  padding: 8px;
  cursor: pointer;
  background: #f5f7f9;
  background: -moz-linear-gradient(top, #f5f7f9 0%, #f5f7f9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f7f9), color-stop(100%, #f5f7f9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f7f9', endColorstr='#f5f7f9', GradientType=0);
}

.pca .pcatooltip {
  position: absolute;
  z-index: 100000;
}

.pca .pcatooltip .pcabackground {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  border-radius: 5px;
  opacity: .60;
  filter: alpha(opacity=60);
}

.pca .pcatooltip .pcamessage {
  position: relative;
  padding: 5px;
  font: 9pt arial;
  color: #fff;
}

.pca .pcabutton:hover {
  color: #444444;
}

.pca .pcalink {
  font: bold 9pt arial;
  cursor: pointer;
}

.pca .pcaclear {
  clear: both;
}

.pcaflag {
  width: 14px;
  height: 12px;
  position: absolute;
  font-size: 0;
  background-image: url(http://services.postcodeanywhere.co.uk/images/flags16x16.png);
  -moz-box-shadow: 0 1px 2px rgba(128, 128, 128, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(128, 128, 128, 0.3);
  box-shadow: 0 1px 2px rgba(128, 128, 128, 0.3);
}

.pca .pcaautocomplete .pcafooter .pcaflagbutton {
  width: 32px;
  height: 21px;
  position: relative;
  float: right;
  margin: 5px 6px 0 0;
  cursor: pointer;
  background-image: url(http://services.postcodeanywhere.co.uk/images/icons/flag_sq_down.png);
}

.pca .pcaautocomplete .pcafooter .pcaflagbutton:hover {
  background-image: url(http://services.postcodeanywhere.co.uk/images/icons/flag_sq_down_hover.png);
}

.pca .pcaautocomplete .pcafooter .pcaflagbutton .pcaflag {
  top: 4px;
  left: 5px;
}

.pca .pcaautocomplete .pcaflaglabel {
  position: relative;
  left: 26px;
}

.pca .pcacountrylist .pcafooter .pcaflagbutton {
  background-image: url(http://services.postcodeanywhere.co.uk/images/icons/flag_sq_up.png);
}

.pca .pcacountrylist .pcafooter .pcaflagbutton:hover {
  background-image: url(http://services.postcodeanywhere.co.uk/images/icons/flag_sq_up_hover.png);
}

.pca .pcaautocomplete .pcafooter .pcalogo {
  width: 66px;
  height: 15px;
  font-size: 0;
  margin: 8px 5px 8px 11px;
  position: relative;
  float: left;
  cursor: pointer;
  background-image: url(http://services.postcodeanywhere.co.uk/images/icons/captureplus/capture_plus_logo.png);
}

.pca .pcaautocomplete .pcafooter .aclogo {
  width: 112px;
  height: 15px;
  font-size: 0;
  margin: 8px 5px 8px 11px;
  position: relative;
  float: left;
  cursor: pointer;
  background-image: url(http://services.postcodeanywhere.co.uk/images/icons/captureplus/address_complete_logo_en.png);
}

.pca .pcaautocomplete .pcafooter .aclogo.pcalogofr {
  width: 118px;
  background-image: url(http://services.postcodeanywhere.co.uk/images/icons/captureplus/address_complete_logo_fr.png);
}

.pca .pcaitem .pcadescription {
  font-style: italic;
  color: #888;
  margin-left: 8px;
}
